@import "tailwindcss";

body {
  background-image: url('/backgrounds/profile-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}
